[user]
    name = Suraj Deshmukh
    email = surajssd009005@gmail.com
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true
[diff]
    tool = vimdiff
[difftool]
    prompt = false
